<div class="row">
    <div class="col-sm-6">
      <div class = "pr-5 mr-5">
        <% if @user.image? %>
          <%= image_tag @user.image.url %>
　　　　<% end %>
　　　　<%= @user.name %>
      </div>
      <div class="pt-5 mt-5">
        <button type="button" class="btn btn-primary">select</button>
      </div>
    </div>
    <div class="offset-sm-2 col-sm-4">
      <div class="pt-5 pl-5 mt-5 ml-5">
        <%= link_to "Post Book", new_book_path, class: 'btn btn-primary' %>
        <%= link_to "My Booklist", books_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>  
  <%= render "books/books" %>
</div>