<div class="row">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item nav-link">
      <div class="col-sm-4"><a class="nav-link active" href="#">ManyFavorite</a></div>
    </li>
    <li class="nav-item nav-link">
      <div class="col-sm-2"><a class="nav-link" href="#">New</a></div>
    </li>
    <li class="nav-item nav-link">
      <div class="col-sm-2"><a class="nav-link" href="#">Old</a></div>
    </li>
    <li class="nav-item nav-link">
      <div class="col-sm-4"><a class="nav-link" href="#">Favorite</a></div>
    </li>
  </ul>
</div>
<div class="row">
  <% @books.each do |book| %>
  <div class="col-sm-5">
    投稿時間<%= book.created_at %>
    <img src="/assets/icon.png" class="img-fluid" alt="icon"><%= link_to user_path(book.user) do %><%= book.user.name %><% end %>
  </div>
  <div class="col-sm-7">
    <img src="/assets/book.png" class="img-fluid" alt="本の写真">
    <%= book.title %>
    ⭐️お気に入り数 <%= @count_user %>
    <%= link_to "詳細", book_path(book), class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>