<div class="row">
  <div class="col-sm-3">
    <img src="/assets/icon.png" class="img-fluid" alt="icon"><%= @book.user.name %>
    <img src="/assets/book.png" class="img-fluid" alt="book">
    <div>
      <%= @book.title %>
    </div>
  </div> 
  <div class="offset-sm-1 col-sm-6">
    本の説明<br>
    内容<%= @book.explain %><br>
    読んで変わったこと<br>
    内容<%= @book.change %><br>
  </div>
  <div class="col-sm-2">
    <%= render 'favorites/favorite_button', book: @book %>
  </div>
</div>