<div class="row">
  <div class="col-sm-3">
    <% if @book.user.image.attached? %>
      <%= image_tag @book.user.image %>
    <% end %>
    <%= @book.user.name %>
    <img src="/assets/book.png" class="img-fluid" alt="book">
    <div>
      <%= @book.title %>
    </div>
  </div> 
  <div class="offset-sm-1 col-sm-6">
    本の説明<br>
    内容<%= @book.explain %><br>
    読んで変わったこと<br>
    内容<%= @book.change %><br>
  </div>
  <div class="col-sm-2">
    <%= render 'favorites/favorite_button', book: @book %>
  </div>
</div>  
<div class="row">  
  <%= form_with(model: [@book, @comment], local: true) do |f| %>
    <%= f.text_area :content, class: "form-control", rows: 5 %>
    <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
      <i class="far fa-comments"></i> コメントする
    <% end %>
  <% end %>
  <% @comments.each do |comment| %>
    <div class="col-sm-4">
      投稿時間<%= comment.created_at %>
      <% if comment.user.image.attached? %>
        <%= image_tag comment.user.image %>
      <% end %>
      <%= comment.user.name %>
    </div>
    <div class="col-sm-8">
      <%= comment.content %>
    </div>
  <% end %>
</div>